* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: none;
}
.row {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.row div{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
}
.row div:not(:last-child) {
    border-right: 1px solid black;
}
.pass_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin_password {
    width: 300px;
    height: 50px;
    border: 1px solid gray;
    padding-left: 15px;
    outline: none;
    margin-bottom: 10px;
}
.admin_login {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background: #0993ca;
    color: white;

}