<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin panel</title>
    <script src="/js/admin.js"></script>
</head>
<body>
    <div class="pass_wrapper">
        <input class="admin_password" placeholder="Пароль" type="password">
        <button class="admin_login">Войти</button>
    </div>
    <div class="container">
        <div class="create" style="padding: 20px;">
            <input placeholder="имя" type="text" class="create-name">
            <input placeholder="фамилия" type="text" class="create-surname">
            <input placeholder="почта" type="email" class="create-email">
            <input placeholder="пароль" type="text" class="create-password">
            <input placeholder="демо баланс" type="text" class="create-demo">
            <input placeholder="реальний баланс" type="text" class="create-real">
            <button class="create-button">Создать</button>
        </div>
        <div class="row">
            <div>ТГ</div>
            <div>Логин</div>
            <div>Почта</div>
            <div>Пароль</div>
            <div>Депозит Демо</div>
            <div>Депозит реальний</div>
            <div>IP</div>
            <div>Создали сами</div>
        </div>
    </div>
</body>
</html>