<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin panel</title>
    <script src="/js/admin.js"></script>
</head>
<body>
    <div class="pass_wrapper">
        <input class="admin_password" placeholder="Пароль" type="password">
        <button class="admin_login">Войти</button>
    </div>
    <div class="container">
      
        <div class="row">
            <div>ТГ</div>
            <div>Логин</div>
            <div class="email-div">Почта</div>
            <div>Пароль</div>
            <div>Депозит Демо</div>
            <div>Депозит реальний</div>
            <div>IP</div>
            <div class="disabled-div" style="text-align: center;">Деактивация</div>
            <div class="ourselves-div" style="text-align: center;">Создали сами</div>
        </div>
    </div>

      
</body>
</html>